.main-bg {
  position: relative;
  overflow: hidden;
  height: 400px;
}

.main-pg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*애니메이션*/
.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}
/*퀵메뉴*/
div,
ul,
li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.quickmenu {
  position: absolute;
  width: 110px;
  top: 50%;
  margin-top: -50px;
  right: 300px;
  background: #fff;
  display: inline-block;
  color: #999;
  border: 1px solid #999;
}

#wing-recent-prd .no-prd {
  padding-bottom: 10px;
  font-size: 12px;
  color: #666;
  word-wrap: break-word;
  word-break: keep-all;
}

.quickTap img {
  width: 100px;
  height: 100px;
}

/*사용자*/
.ms-auto:hover {
  cursor:pointer
}
