.main-bg {
  position: relative;
  overflow: hidden;
  height: 400px;
}

.main-pg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*애니메이션*/
.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}
